body {
	background: $mainBrown;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1em;
	color: #ac9c86;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

a {
	color: $mainOrange;
}

.empty-space{
	display: block;
   margin: 10px 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}
