$atSmall: 530px;
$atMedium: 800px;
$atLarge: 1010px;

@mixin atSmall {
  @media (min-width: #{$atSmall}) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: #{$atMedium}) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: #{$atLarge}) {
    @content;
  }
}

@mixin clearfix{
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin respondMax($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin respondMin($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

