.page-section {
  padding: 1.2rem 2rem;

  &__heading{
    margin-bottom: 22px;
    color: #3d281b;
    font-size: 2.5em;
    font-weight: normal;
  }

  &__text{
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  @mixin atMedium {
    padding: 4.5rem 0;
  }
  
  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @include atLarge {
      padding-bottom: 4.5rem;
    }
  }

  &--white {
    background-color: #fcf2e2;
    color: #ac9c86;
  }

  &--testimonials {
    background-color: #e0e6ef;

    
  }

}