.products {
  &__title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;
    color: $mainBrown;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    gap: 2rem;
    padding-inline-start: 0;
    padding: 0 40px;
  }

  &__item {
    position: relative;
    list-style: none;
    flex: 0 1 30%;
    height: 15rem;
    border: 1px solid $mainOrange;
  }
}
